# Données applicatives
**/data/

# Secrets
**/.env
**/.secrets

# Logs
**/logs/

# Backups
backups/

# AI
**/.continue/
**/.vscode/
**/.clinerules

# Clean
**/.DS_Store
.continue/
.vscode/
./.clinerules
.clinerules
