{
    auto_https disable_redirects
}

home.poppi {
    tls internal
    reverse_proxy homepage:3000
}

dockge.poppi {
    tls internal
    reverse_proxy dockge:5001
}

jellyfin.poppi {
    tls internal
    reverse_proxy jellyfin:8096
}

immich.poppi {
    tls internal
    reverse_proxy immich:2283
}

ai.poppi {
    tls internal
    reverse_proxy open-webui:8080
}

dns.poppi {
    tls internal
    reverse_proxy 100.99.99.99:82
}